*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --icon-size: 1.8rem;
    --primary-color: rgb(42, 166, 208);
    --secondary-color: #f1f1f1;
}

body{
    display: grid;
    grid-template-columns: 300px 6fr;
    grid-template-rows: 1fr 8fr;

    background-color: var(--secondary-color);
    height: 100vh;
}

#header{
    grid-column: 2;

    background-color: white;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 10px;
}

#profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    font-weight: bold;
}

.profile-image{
    height: 70px;
}

#header > div{
    padding: 10px 20px;
}

#profile .profile-image{
    height: 40px;
}

#search{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

#search input{
    width: 100%;
    padding: 0;

    border: 0;
    background-color: var(--secondary-color);
    height: 2rem;
    border-radius: 1rem;
    padding: 0 1rem;
}

#profile-info{
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: bold;
    font-size: 1.3rem;
}

#profile-info .greeting{
    font-size: .8rem;
}

#header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#header-buttons button:hover{
    cursor: pointer;
    background-color: color-mix(in srgb, var(--primary-color) 90%, white 20% );
}

#header-buttons > button{
    background-color: var(--primary-color);
    border: 0;
    padding: .5rem 1rem;
    width: 13ch;
    border-radius: 1rem;

    color: white;
    font-weight: 600;
}

#side-panel{
    --side-panel-gap:2rem;

    grid-row: 1 / 3;

    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;

    gap: var(--side-panel-gap);
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#logo img{
    width: 3rem;
}

#logo > p{
    font-size: 2rem;
    color:white;
}

#side-panel .icon{
    width: var(--icon-size);
    justify-self: center;
    filter: invert(1);
}

#side-panel-menu{
    display: grid;
    gap: var(--side-panel-gap);
}

#side-panel-menu a{
    padding: .5rem 1rem;
    color: white;

    display: flex;
    gap: 20px;
}

#side-panel-menu a:hover{
    background-color: color-mix(in srgb, var(--primary-color) 90%, white 20% );
}


#container{
    --content-radius:.5rem;
    --content-spacing:15px;
    --shadow-settings: 5px 5px 10px -10px;

    padding: 15px;

    display: grid;
    grid-template-columns: 3fr minmax(250px, 1fr);
    grid-template-rows: auto 1fr;
    gap: var(--content-spacing);
}

#content-main{    
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: var(--content-spacing);
}

.card{
    background-color: white;
    border-radius: var(--content-radius);
    box-shadow: var(--shadow-settings);

    display: flex;
}

.color-band{
    flex: 0 0 10px;
    border-radius: var(--content-radius) 0 0 var(--content-radius);
    background-color: orange;
}

.card-content{
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.card-text{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-container{
    padding: 1rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.icon-container .icon{
    height: 30px;
}

.card-title{
    font-size: 1.3rem;
    font-weight: bold;
}

#announcements{
    background-color: white;
    padding: 2rem;
    border-radius: var(--content-radius);
    box-shadow: var(--shadow-settings);

    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}

#announcements > span{
    border-bottom: 2px solid rgb(202, 202, 202);
}

#announcements .title{
    font-weight: bold;
}

#announcements .text{
    font-size: .9rem;
}

#content-side{
    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
}

#trending{
    margin-top: var(--content-spacing);
    background-color: white;
    border-radius: var(--content-radius);
    box-shadow: var(--shadow-settings); 

    display: flex;
    flex-direction: column;
    gap: var(--content-spacing);
    padding: var(--content-spacing);
}

.trending-item{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    gap: var(--content-spacing);

    font-weight: 500;
}

.trending-item > img{
    grid-row: span 2;
}

.trending-item .text{
    font-weight: 400;
    font-size: .9rem;
}